<th class = "square-background" style="width:20%">
    <div>
        <h2 class="text headings" >Categories</h2>
        {% if categories %}
        <ul class="ul">
            {% for category in categories %}
            <li><a class="text" style="margin:0 0 0 0" href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no posts.</p>
        {% endif %}
    </div>
    <div>
        <h2 class="text headings">Recent posts</h2>
        {% if posts %}
        <ul class="ul">
            {% for post in posts %}
            {% if post.recent_post %}
            <li><a class = "text" style="margin:0 0 0 0" href="{{ post.get_absolute_url }}">{{ post.title }}
                <div style = "font-size:x-small">
                    {{post.posted|timesince}}
                </div>
            </a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no posts.</p>
        {% endif %}
    </div>
</th>
