<th class = "square-background" width = "15%">
    <div class="banner_text">
        <h3 class="text">categories</h3>
        {% if categories %}
        <ul class="ul">
            {% for category in categories %}
            <li><a href="{{ category.get_absolute_url }}">{{ category.title|lower }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no posts.</p>
        {% endif %}
    
    
      	<br><br><h3 class="text">recent posts</h3>
        
        {% if posts %}
        <ul>
	
            {% for post in posts %}
            {% if post.recent_post %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:20| lower }} ({{post.posted|date:"SHORT_DATE_FORMAT"}})

            </a></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no posts.</p>
        {% endif %}
    
</th>
