<table class="preview_table second_table">
  {% for group in older_posts_grouped %}
  <tr>
    {% for post in group %}
    <td class = "post" background= {% if post.image %} {{post.image.url}} {% else %} "/media/pictures/ttlogo.png" {% endif %}>
      <a href="{{ post.get_absolute_url }}">
        <div class="post_heading second_post_heading">
          <div class="heading_text">
            <div class="category">
              {{ post.category }}
            </div>
            <div class="post_title">
              {{ post.title }}
            </div>
            <div class="date_posted">
              {{ post.posted }}
            </div>
          </div>
        </div>
      </a>
    </td>
     {% endfor %}
  </tr>
  {% endfor %}
</table>
