{% for group in older_posts_grouped %}
<div class="older_preview">
  {% for post in group %}
  <div class = "post older_post">
    <a href="{{ post.get_absolute_url }}">
      <img itemprop="image" class="post_image" src="{% if post.image %} {{post.image.url}} {% else %} /media/pictures/ttlogo.png {% endif %}">
      <div class="post_heading">
        <div class="heading_text">
          <div class="category">
            {{ post.category }}
          </div>
          <div class="post_title">
            {{ post.title }}
          </div>
          <div class="date_posted">
            {{ post.posted }}
          </div>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endfor %}
