<th style="width:100%;background-color:rgba(236, 240, 241,0.6);font-family:Verdana" valign="top">
    <div style="background-color:#ecf0f1; margin: 5%;padding: 0 0 10 0; border-radius:2px" >
        <h2 class="headings" style="color:rgba(52, 73, 94,1.0);margin: 5% 0 0% 5%; padding: 8 0 8 0 ">

            {{  latest_post.title }}

        </h2>
        <p  style="color:rgba(52, 73, 94,1.0);margin:0 5% 0 10%">
            {{ latest_post.body }}
        </p>
        <p style="color:rgba(52, 73, 94,.8);margin:0 0 0 70%" >
            {{  latest_post.posted }} -
            {{ latest_post.category }}
        </p>
    </div>
</th>
