<html>
    <style>
     .bg {
         background:linear-gradient( rgba(30, 0, 0, 0.25), rgba(30, 0, 0, 0.25) ),url({% block background_img %}{% endblock background_img %});
         background-size:cover;
         color:#ecf0f1;
     }
     *{
         margin:0;
         padding:0;
     }
    </style>

    <head>
        <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/bugs-and-insects/100/07-512.png">
	<title>Nicholas Palermo</title>
        {% block style %}
        {% endblock %}
    </head>

    <body class='bg'>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock %}
    </body>

</html>
