{% extends 'base.html' %}

{% block style %}

<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/index.css">

{% endblock style %}

{% block content %}
<body class="bg">
    <div class="main_banner">
 
            <div class="square-background">

                <img class="profile_pic" src = "https://scontent-mia1-2.xx.fbcdn.net/v/t1.0-9/561793_10151058165581567_664524530_n.jpg?oh=022295195bfc4cd5f44b55b7d6fc08bb&oe=5846281A" alt = "My profile image">

                <center><h1 class="text">Nicholas Palermo</h1></center>
                <p class="text"> PhD. Candidate of Biological Sciences <br> Honeybee Researcher at Florida International University <br> Email: npale005@fiu.edu</p>
            </div>
 
    </div>
</body>
{% endblock content %}
