<head>
  <link rel="stylesheet" href="/static/css/navbar.css">
</head>

<body>
  <div class="banner">
    <div class="banner-content">
      <a target ="" href ="{% url 'home' %}">
        <img class="tt_icon" src="/media/pictures/ttlogo.png" alt="homepage">
      </a>
      <div class ="banner-links-text">
        <a class="navbar_a" target="" href ="{% url 'blog:view_blog_index' %}">blog</a>
        <a class="navbar_a" target="" href ="{% url 'current_research:view_research_index' %}">current research</a>
        <a class="navbar_a" target="" href ="{% url 'publications:view_publication_index' %}">publications & awards</a>
        <a class="navbar_a" target="" href ="{% url 'teaching:view_teaching_index' %}">teaching</a>
        <a class="navbar_a" target="" href ="{% url 'photologue_custom:view_gallery_index' %}" > gallery</a>
        <a class="navbar_a" target="_blank" href ="https://soundcloud.com/traumatank" >music</a>
        <a class="navbar_a" target="_blank" href ="http://github.com/npalermo10">GitHub </a>
      </div>
    </div>
  </div>
</body>
