.view_post_main{
    width:965px;
    margin-left:150px;
    padding:10px;
    position:relative;
    margin-top:150px;
    font-family:'navbar_font';
}

.post_img{
    width:80%;
    height:300px;
    object-fit:cover;
}

.post_body{
    line-height:200%;
    width:80%;
    letter-spacing:1px;
    word-spacing:1px;
	     
}

h1{
    font-family: "Sentinel SSm A","Sentinel SSm B",serif;
    font-weight: 300;
    letter-spacing: 0.06em;						       
}