.bg{
    background-size: cover;
    background-color: #bdc3c7;
    font-family:Verdana;
    color:#2c3e50;
    margin:0 0 0 3%
}

h3{
    margin: 10 10% 15 0%;
}

h4{
    margin: 10 10% 15 0%;
    text-align:justify;
}

p{
    margin: 10 10% 15 0%;
    text-align:justify;
}

th{
    padding:5 20 0 5;
}

.announcements{
    background-color:#1abc9c;
    color: #2c3e50;
    padding:5
}

.schedule{
    
}

.syllabus{
   color:RoyalBlue;
}

.syllabus:hover{
  }
