{% extends 'base.html' %}

{% block style %}
<style>

 .bg{
     background-size: cover;
     background-color: #34495e;
     font-family:Verdana;
 }

 h3{
     padding: 10 0 0 0;
     margin: 0 0 0 10;
 }

 h4{
     margin: 10 10% 15 3%;
     text-align:justify;
 }

 p{
     margin: 10 10% 15 3%;
     text-align:justify;
 }

 th{
     padding:5 20 0 5;
 }
</style>

{% endblock style %}

{% block content %}

<body class="bg">
    <h3>{{classroom.title}} ({{classroom.semester}} {{classroom.year}})

    </h3>

    <div>
	<h4>Announcements:</h4>
	<p style="background-color:#1abc9c; color:#2c3e50; padding:5">
	    
	    {% for item in announcement %}
	    {{item.date}} - {{ item.body }}
	    {% endfor %}
	</p>

	<h4>Schedule</h4>
	<table style="background-color:#7f8c8d; margin:10 0 0 3%">
	    <tr>
		<th> Week of: </th>
		<th> Assignment </th>
		<th> Downloads </th>
	    </tr>
	    {% for item in scheduled %}
	    <tr>
		<th>{{item.date}}</th>
		<th>{{item.title}}</th>
		<th></th>
	    </tr>
	    {% endfor %}
	</table>

    </div>

</body>

{% endblock content %}
