{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" href="/static/css/publications.css">

{% endblock style %}

{% block content %}

<body class="bg">
    <h3>
        Publications

    </h3>

    {% for item in publications %}
    <p class="pubs">
        {{ item.citation }} 
    </p>
    {% endfor %}


    <h3>
        Awards Recieved
    </h3>
	
        {% for item in awards %}
        <p>
            {{ item.description }} , {{ item.date }}
        </p>
        {% endfor %}
    
</body>

{% endblock content %}
