{% extends 'base.html' %}

{% block style %}
  <link rel="stylesheet" href="/static/css/publications.css">
{% endblock style %}

{% block content %}

<body class="bg text">
    <h3>
        publications

    </h3>

    {% for item in publications %}
    <p class="pubs">
        {{ item.citation }} 
    </p>
    {% endfor %}


    <h3>
        awards recieved
    </h3>
	
        {% for item in awards %}
        <p>
            {{ item.description }} , {{ item.date }}
        </p>
        {% endfor %}
    
</body>

{% endblock content %}
