.bg {
    background:linear-gradient( rgba(30, 0, 0, 0.25), rgba(30, 0, 0, 0.25) ),url({% block background_img %}{% endblock background_img %});
    background-size:cover;
    }
*{
    margin:0;
    padding:0;
}

.movedown{
    padding: 30 0 0 0
}

.text{
    font-family: Verdana;
    color:#2c3e50;
}
