@font-face {
    font-family: 'main_font'; 
    src: url('../fonts/trench100free.ttf');
}

@font-face {
    font-family: 'navbar_font';
    src: url("../fonts/IczWvq5y_Cwwv_rBjOtT0w.woff") format('woff');
}

.mainpage{
    margin-top: 125;
    max-width:1170;
    margin-right:200px;
    margin-left:200px;
   
}

.text{
    font-family: 'navbar_font';
    color:#2c3e50;
}

.bg{
    background-color:rgba(236, 240, 241,1.0);
    background-size:cover;
  }

a{
  color:rgba(44, 62, 80,1.0);
  text-decoration:none;
}

a:hover{
    color:rgba(170, 160, 240, 1);	
       }